@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open Sans:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  padding: 8.5px 34px;
  height: 60px;
}

header h4 {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 24px;
  font-family: "Roboto", sans-serif;
}

li a {
  text-decoration: none;
  color: #0d6efd;
  font-size: 16px;
}

li a.active {
  padding: 12px 16px;
  background-color: #0d6efd;
  color: #fff;
  border-radius: 4px;
}

.banner-area {
  display: flex;
  justify-content: space-around;
  gap: 42px;
  background-color: #37517e;
  align-items: center;
  padding-top: 153px;
  padding-bottom: 81px;
  padding-left: 94px;
  padding-right: 83px;
  font-family: "Jost", sans-serif;
}

.cta-area {
  display: flex;
  flex-wrap: wrap;
}

.cta-area h1 {
  color: white;
  font-size: 48px;
}

.cta-area h4 {
  color: rgba(255, 255, 255, 0.6);
  font-size: 24px;
  font-weight: 500;
}

.cta-buttons {
  padding-top: 60px;
  width: 100%;
  display: flex;
  justify-content: start;
  gap: 65px;
}

.cta-buttons .btn-cta {
  font-family: "Open Sans", sans-serif;
  padding: 12px 28px;
  background-color: transparent;
  border: transparent;
  color: white;
  font-size: 16px;
}

.btn-cta.active {
  background-color: #47b2e4;
  font-family: "Jost";
  letter-spacing: 1px;
  border-radius: 50px;
}

.btn-cta:hover {
  font-family: "Jost";
  letter-spacing: 1px;
  background-color: #47b2e4;
  border-radius: 50px;
}

.hero-img {
  width: 636px;
  height: 527px;
}

.join-newsletter {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px;
  background: rgba(243, 245, 250, 1);
}

.join-newsletter h1 {
  padding-bottom: 16px;
  font-family: "Jost", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #37517e;
  text-transform: capitalize;
}

.join-newsletter p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

.input-email-newsletter {
  padding-top: 31.5px;
  display: flex;
  justify-content: center;
}

.input-email-newsletter input#email {
  width: 516px;
  height: 41px;
  padding-left: 20px;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
}

.input-email-newsletter input#email:focus {
  outline: none;
  padding-left: 20px;
  font-family: "Open Sans", sans-serif;
}

.subscribe-newsletter {
  position: absolute;
  font-family: "Open Sans", sans-serif;
  border-radius: 50px;
  background-color: #47b2e4;
  color: #fff;
  right: 502px;
  padding: 11px 20px;
  border: none;
}

footer .footer-contents {
  display: flex;
  justify-content: space-around;
  padding: 60px 82px 30px 30px;
}

footer .footer-contents h5 {
  font-family: "Jost", sans-serif;
  text-transform: capitalize;
  font-size: 16px;
  padding-bottom: 19px;
}

footer .footer-contents ul {
  display: flex;
  flex-direction: column;
}

.footer-content_section1 h1 {
  font-family: "Jost", sans-serif;
  font-size: 28px;
}

.addresses {
  padding-top: 10px;
  padding-bottom: 44px;
  line-height: 14px;
  font-family: "Jost", sans-serif;
  font-size: 14px;
}

.contacts {
  font-family: "Jost", sans-serif;
  line-height: 14px;
  font-size: 14px;
}

.useful-links a {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #777777;
}

.our-service a {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-transform: capitalize;
  color: #777777;
}

.footer-content_section4 {
  max-width: 278px;
}

.footer-content_section4 p {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

footer .copyright-and-watermark {
  display: flex;
  justify-content: space-between;
  padding: 31px 80px;
  background-color: #37517e;
  font-family: "Open Sans", sans-serif;
  color: white;
}

.copyright-and-watermark p span {
  color: #47b2e4;
}

.footer-content_section4 ul.socials {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
  padding-top: 30px;
}

.footer-content_section4 li a {
  background-color: #47b2e4;
  padding: 10px 15px;
  border-radius: 60px;
}
